:root {
    --primary : #000F42;
}

.search {
    background: var(--primary);
}

.bi-search,
.navbar a {
    color: white;
}

.header a {
    color: var(--primary);
    font-weight: bold;
}

.container-fluid {
    background: #003CA6;
}

#offers {
    background: #B4DEFD;
}

.navbar .dropdown button {
    margin-right: 30px;
    text-decoration: none;
}

.navbar .dropdown button:hover {
    font-weight: 500;
    text-decoration: none;
}

#how-to-return ol li,
#five-facts ul li {
    margin-bottom: 5px;
}

li {
    cursor: pointer;
}

.navbar .dropdown {
    margin-right: auto;
}

.d-menu {
    z-index: 10;
    height: 400px;
    border: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    list-style: none;
    box-shadow: 0px 400px 5px 0px rgba(0,0,0,0.3);
    transition-delay: 500ms;
}

@media (max-width: 991.98px) {
    .d-menu {
        display: none;
    }
}


.d-menu a {
    padding: 0 20px 0 0;
}

.d-menu .dropdown-item {
    float: left;
    text-align: right;
    display: block;
}



.dropend {
    position: absolute;
    z-index: 30;
    background: #F9F9F9;
    list-style: none;
    width: 890px;
    height: 400px;
    margin-left: 204px;
    top: 0;
    padding: 0;
}




.product-detail-right {
    margin-top: 75px;
}

#product-right {
    margin-top: 95px;
}



#type .dropdown-menu {
    width: 200px;
}




#basket {
    margin-bottom: 400px;
}

.rightArea {
    background: #F3F8FB;
}



#information2 ul li {
    margin-bottom: 6px;
    margin-left: 10px;
}




#large-image img {
    height: 350px;
}

#sortBy a {
    text-decoration: none;
}

.accordion-button {
    padding: ;
}

#perbox {
    background: #F7F5F0;
}

.sortBy-active {
    background: #A9CCDD;
}

.modal-body h5 {
    font-size: 18px;
}

.list-group-item,
#list-group a,
#filters button {
    font-size: 12px;
}

.navbar .dropdown-menu a,
.navbar .dropdown-menu a:hover {
    color: black;
    text-decoration: none;
}

#firstOption {
    background: #0080A9;
}


.breadcrumb li,
.form-check-label,
.rightCol p {
    font-size: 13px;
}

#discount {
    background: #FCD9BD;
}

#discount button {
    background: #000F42;
}

.bag a p {
    font-size: 18px;
}

.alt-header {
    background: #F8FDFE;
}

main h1 {
    margin-bottom: 200px;
    margin-left: 20px;
}

.kutucuk a,
.header-menus a {
    background: #F6F6F6;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.accordion-item p {
  font-size: 12px;
  text-align: center;
  color: gray;
}


















#phone {
    background: #30343A;
}

#phone:hover {
    background: #292c31;
}

.info {
    margin: 100px 0;
}

#main-text {
    color: #999999;
}

.card-footer {
    background: #003CA6;
}

#box {
    background: #77BC1F;
    padding-bottom: 80px;
}

#box a {
    color: #77BC1F;
}

#box2 {
    background: #E1DFDB;
    padding: 20px;
    padding-bottom: 90px;
}

.boxes {
    background: #E1DFDB;
    margin: 0 10px;
}

#description3 {
    display: none;
    overflow: hidden;
    position: relative;
}



.container,
.container-lg {
  max-width: 1125px;
  margin: 0 auto;
}

#description ul li,
#description2 ul li {
    margin-bottom: 10px;
}

.service {
    font-size: 14px;
}

#footer-area {
    margin-bottom: 200px;
}

footer .container-fluid {
    background: #F7F7F9;
}

footer .container a {
    margin-bottom: 5px;
}

#phone-support p {
    font-size: 14px;
    color: grey;
}

#postal-address,
#postal-address a,
#email-support {
    font-size: 15px;
}

#footer-social-media .container-fluid {
    background: #E8E9EE;
}

#footer-social-media a,
#footer-social-media p {
    font-size: 13px;
    color: gray;
    margin-right: 13px;
}

#footer-social-media img {
    margin-left: 10px;
}

@media (max-width: 991.98px) {
    .container,
    .container-lg {
        max-width: 95%;
    }

    main h5,
    main a {
        font-size: 14px;
    }

    .card-footer a {
        margin-bottom: 0;
    }
}

@media (max-width: 1199.98px) {
    #box {
        background: #77BC1F;
        padding-bottom: 105px;
    }

    .container {
        max-width: 90%;
    }
}
